*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-image: linear-gradient(to right top, #061e5b, #004f8d, #0083b4, #00b7cf, #6aebe3);
    display: grid;
    place-items: center;
}
img{
    max-width: 100%;
    height:auto;
}
#slider{
    max-width:1200px;
    width:100%;
    margin:0px auto;
    position: relative;
    overflow: hidden;
    aspect-ratio: 16/9;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.4);
    border-radius:5px;
}
.slides {
    position: absolute;
    inset: 0;
    background: #000;
  }

.slide{
    position: absolute;
    inset: 0;
    width:100%;
    height:100%;
}

.arrows{
    position: absolute;
    z-index:10;
    height:50px;
    width:100%;
    top:50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.prevButton,
.nextButton{
    width:50px;
    height:50px;
    border-radius: 50%;
    background:rgba(0,0,0,0.4);
    cursor: pointer;
}
.prevButton{
    margin-left: 20px;    
}
.nextButton{
    margin-right: 20px;
}